@model ACB.Models.ContractorVM
@{
    ViewData["Title"] = "displayquote";

    var services = Model.Services;
    var images = Model.Quote.Images;
}
<style>
    body {
        background-image: url('../resources/images/scaffoldsite.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0;
        height: 100vh;
    }
</style>
<div class="row d-flex justify-content-center">
    <div class="col alpha-form center mt-4">
        <h2>Quote Request <span id="q-id">@Model.Quote.Id</span></h2>
        <div class="row">
            <div id="info-tab" class="col-5 tab-btn mx-3" onclick="return Info()">Info</div>
            <div id="photo-tab" class="col-5 tab-btn" onclick="return Photos()">Photos</div>
        </div>
            <div class="align-items-center justify-content-center quote-box">
                <div id="info-view" >
                    <div class="container q-data">
                        <div class="col-8 my-3 mt-5">
                            Client: </br>@Model.Quote.Firstname @Model.Quote.Lastname
                        </div>
                        
                        <div class="col-8 my-3">
                            Contact: </br>@Model.Quote.Email
                        </div>

                        <div class="col-8 my-3">
                            Job Location: </br>@Model.Quote.Address @Model.Quote.Zip
                        </div>
                        <div class="col-8 my-3">
                            Job Details: </br>@Model.Quote.Details
                        </div>
                    </div>
                </div>
               
                <div id="photo-view">
                    <div id="q-img-cont" class="container ">

                        <button class="btn arrow-btn left-arrow" onclick="return scrollright()">
                            <p>&#x2190;</p>
                        </button>
                        @foreach (var image in @images)
                        {
                                <img class="q-img" src="data:image;base64,@System.Convert.ToBase64String(image)" onclick="enlarge(this);" />

                        }                   
                        <button class="btn arrow-btn right-arrow" onclick="return scrollleft()">
                            <p>&#x2192;</p>
                        </button>
                    </div>
                </div>

                @* <button onclick="convertQuote()" >Accept Job</button> *@
                <div class="d-flex justify-content-center">
                <a asp-action="NewJob" asp-route-id="@Model.Quote.Id"><input type="button" class="btn btn-primary mb-3 " value="Accept Job" /></a>
                </div>
                                                 
            </div>
    </div>
    <script>      
        const imgs = document.querySelectorAll(".q-img");
        const arrowBtns = document.querySelectorAll(".arrow-btn");

        let activeImg = 0;        

        console.log(arrowBtns);
        console.log(imgs);

        function activeImages() {
            imgs.forEach((img) => {
                img.classList.add("in-vis");
            });

            imgs[activeImg].classList.remove("in-vis");
        }

        activeImages();

        function scrollright(){
            
            activeImg++;
            if (activeImg > imgs.length - 1) {
                activeImg = 0;
            }

            activeImages();
            
            return false;      
        }

        function scrollleft(){
            
            activeImg--;
            if (activeImg < 0) {
                activeImg = imgs.length - 1;
            }

            activeImages();
            
            return false;
        }

        function Info() {
            var infotab = document.getElementById("info-tab");
            infotab.style.borderBottomColor = "#04364A";
            

            var phototab = document.getElementById("photo-tab");
            phototab.style.borderBottomColor = "white";
            

            var photos = document.getElementById("photo-view");
            var info = document.getElementById("info-view");

            photos.style.display = "none";
            photos.style.zIndex = "0";
            info.style.height = "70vh";

            var nodes = info.children;
            for (var i = 0; i < nodes.length; i++) {

                nodes[i].style.display = "flex";

            }
            return false;
        }

        function Photos() {
            var phototab = document.getElementById("photo-tab");
            phototab.style.borderBottomColor = "#04364A";
            
            var infotab = document.getElementById("info-tab");
            infotab.style.borderBottomColor = "white";
            
            var photos = document.getElementById("photo-view");
            var info = document.getElementById("info-view");

            photos.style.display = "flex";
            photos.style.zIndex = "15";
            info.style.height = "0px";

            var nodes = info.children;
            for (var i = 0; i < nodes.length; i++) {

                nodes[i].style.display = "none";
            }
            return false;
        }

        function convertQuote(){

            var qId = document.getElementById("q-id").innerText;

            console.log(qId);

            $.ajax({
                type: "POST",
                url: "@Url.Action("NewJob")",
                data: { qId: qId },
                dataType: "Json",
                success: function (result) {
                    console.log(result);
                },
                error: function (red, status, err) {
                    consol.log(status);
                }
            });
        }
    </script>
</div>     