@model ACB.Models.ContractorVM
@{
    ViewData["Title"] = "home";
   
    var services = Model.Services;
    
    
    var quotes = Model.Quotes;
}

<h1>@Model.FirstName @Model.LastName</h1>

<div class="col-9">

    <div class="container-fluid ">

        <div class="row table-w">
            <div class="col-12 py-3">
                <div class="dash-header">Quote Requests</div>
                <div class="container-fluid dash-row">
                    @foreach (var quote in @quotes)
                    {

                        <div class="row">

                            <div class="col-3 line">
                                <a href="./quote.html">@quote.Id</a>
                            </div>

                            <div class="col-3 line">
                                <a href="#">@quote.Firstname</a>
                            </div>

                            <div class="col-3 line">
                                <a href="#">@quote.Lastname</a>
                            </div>

                            <div class="col-3 line">
                                ASAP
                            </div>
                        </div>
                        


                    }


                </div>

            </div>

        </div>



    </div>

</div>



                            

