<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <title> </title>
    <style>

        .container2 {
            display: none;
            width: 100%; /* Full width of the viewport */
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            box-sizing: border-box;
        }


        #map {
            height: 440px;
            width: 100%;
        }

        .location-form {
            margin-top: 25px;
        }

            .location-form input[type="text"],
            .location-form input[type="email"],
            .location-form textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
            }

            .location-form input[type="submit"] {
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
            }


                .location-form input[type="submit"]:hover {
                    background-color: #0056b3;
                    padding: 10%;
                }
    </style>
</head>



<body class="loc-bg">

    @model ACB.Models.Location
    @{
        var results = Model.Results;
    }

    <div class="container2 d-flex">
        <div class="col col-lg-6">
            <section class=" alpha-form col-11">
                <h2>Find Your Contractor</h2>
                <form asp-action="Location" asp-controller="Location" method="post" onclick="data()">
                    <div class="container d-flex justify-content-between">

                        <div class="form-group col-5">
                            <label class="control-label">Service</label>
                            <select id="stype" name="stype" asp-for="WorkNeeded" class="form-control" asp-items="ViewBag.Services"></select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-5 form-group">
                            <label class="control-label">Max distance</label>
                            <input asp-for="Distance" class="form-control col-3" type="number" min="1" max="1500" id="distance" name="distance" />
                        </div>


                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Your Address</label>
                        <input asp-for="Address" class="form-control" id="Address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label">City</label>
                        <input asp-for="City" class="form-control" id="City" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>State:</label>
                        @Html.DropDownListFor(model => model.State, GetStates(), new { @class = "form-control", id = "State" })
                    </div>
                    <div class="form-group">
                        <label asp-for="Zip" class="control-label">Zip Code</label>
                        <input asp-for="Zip" class="form-control" id="Zip" />
                        <span asp-validation-for="Zip" class="text-danger"></span>
                    </div>
                    <input id="latitude" name="latitude" asp-for="Latitude" class="form-control" type="hidden" />
                    <input id="longitude" name="longitude" asp-for="Longitude" class="form-control" type="hidden" />
                    <br>

                    <div class="form-group submit-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </section>
        </div>
        <div class="geo-box col col-lg-6">
            <div id="map"></div>
            <section class="mapname-container">

                <script>
                    function initMap() {
                        var options = {
                            zoom: 4,
                            center: { lat: 37.0902, lng: -95.7129 }
                        }
                        var map = new google.maps.Map(document.getElementById('map'), options);

                        var marker = new google.maps.Marker({
                            position: null,
                            map: map
                        });
                    }

                </script>
            </section>
        </div>

    </div>

    <div id="review-box" class="container-fluid d-block">
        @foreach (var c in @results)
        {
            <div class="col-12 contractor-tile mt-3 p-2 px-3">
                <div>@c.Company</div>
                <div>
                    <div class="tile-detail">@c.Email</div>
                    <div class="tile-detail">Rating: no ratings yet</div>
                    <div class="tile-detail">Distance: @c.Distance miles away</div>

                    <div class="cont-loc">
                        <input class="form-control latitude" type="hidden" value="@c.latitude" />
                        <input class="form-control longitude" type="hidden" value="@c.longitude" />

                    </div>


                    <a asp-action="QuoteForm" asp-controller="Quote" asp-route-id="@c">
                        <input type="button" class="btn-primary p-2 my-2 tile-btn" value="Request Quote" />
                    </a>
                </div>

            </div>
        }
    </div>

    <script>


        var add = document.getElementById("Address");
        var city = document.getElementById("City");
        var zip = document.getElementById("Zip");
        var state = document.getElementById("State");
        var dist = document.getElementById("distance");

        function data() {
            console.log(
                add.value + "\n" +
                city.value + "\n" +
                zip.value + "\n" +
                state.value + "\n" +
                dist.value + "\n"



            );

        }


        function locationOnPageLoad() {

            console.log("The location should be loading");
            if (zip.value.length > 4) {
                updateMapWithMarker();
            }

        }

        document.addEventListener("DOMContentLoaded", function () {
            locationOnPageLoad();;
        });

        locationOnPageLoad();

        zip.addEventListener("input", (e) => {
            if (zip.value.length > 4) {
                updateMapWithMarker();
            }

        });

        function updateMapWithMarker() {
            var address = document.getElementById('Address').value + ', ' +
                document.getElementById('City').value + ', ' +
                document.getElementById('State').value + ' ' +
                document.getElementById('Zip').value;

            // Use geocoding service to convert address to coordinates
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    var location = results[0].geometry.location;

                    // Update map with new marker
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 12,
                        center: location
                    });

                    var marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });

                    // Update hidden inputs with latitude and longitude
                    document.getElementById('latitude').value = location.lat();
                    document.getElementById('longitude').value = location.lng();
                    var service = document.getElementById("stype").value;

                    const NodeList = document.querySelectorAll(".cont-loc");



                    for (let i = 0; i < NodeList.length; i++) {

                        var latNode = NodeList[i].querySelectorAll('.latitude');
                        var longNode = NodeList[i].querySelectorAll('.longitude');
                        var lat = latNode[0].value;
                        var long = longNode[0].value;

                        var myLatlng = new google.maps.LatLng(lat, long);
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: map,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
                        });

                        console.log(lat);
                        console.log(long);

                    }

                }
                else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });

            return false; // Prevent default form submission
        }

    </script>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChApDFEzmpCEBP6xfQPCHwucDuC5Z8Bzo&loading=async&callback=initMap">
    </script>

</body>
</html>

@functions {
    public SelectList GetStates()
    {
        Dictionary<string, string> stateNames = new Dictionary<string, string>
        {
            { "", "Select State"},
            { "AL", "Alabama" },
            { "AK", "Alaska" },
            { "AZ", "Arizona" },
            { "AR", "Arkansas" },
            { "CA", "California" },
            { "CO", "Colorado" },
            { "CT", "Connecticut" },
            { "DE", "Delaware" },
            { "FL", "Florida" },
            { "GA", "Georgia" },
            { "HI", "Hawaii" },
            { "ID", "Idaho" },
            { "IL", "Illinois" },
            { "IN", "Indiana" },
            { "IA", "Iowa" },
            { "KS", "Kansas" },
            { "KY", "Kentucky" },
            { "LA", "Louisiana" },
            { "ME", "Maine" },
            { "MD", "Maryland" },
            { "MA", "Massachusetts" },
            { "MI", "Michigan" },
            { "MN", "Minnesota" },
            { "MS", "Mississippi" },
            { "MO", "Missouri" },
            { "MT", "Montana" },
            { "NE", "Nebraska" },
            { "NV", "Nevada" },
            { "NH", "New Hampshire" },
            { "NJ", "New Jersey" },
            { "NM", "New Mexico" },
            { "NY", "New York" },
            { "NC", "North Carolina" },
            { "ND", "North Dakota" },
            { "OH", "Ohio" },
            { "OK", "Oklahoma" },
            { "OR", "Oregon" },
            { "PA", "Pennsylvania" },
            { "RI", "Rhode Island" },
            { "SC", "South Carolina" },
            { "SD", "South Dakota" },
            { "TN", "Tennessee" },
            { "TX", "Texas" },
            { "UT", "Utah" },
            { "VT", "Vermont" },
            { "VA", "Virginia" },
            { "WA", "Washington" },
            { "WV", "West Virginia" },
            { "WI", "Wisconsin" },
            { "WY", "Wyoming" }
        };

        return new SelectList(stateNames, "Key", "Value");
    }
}